/* NotFoundPage.scss */
.custom-not-found {
  .fa-exclamation-triangle {
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}
